html {
    overflow-y: scroll;
}

body {
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: 'Balsamiq Sans', cursive;
    background-image: url(
        "../image/background_index.jpg"
    );
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

body::-webkit-scrollbar {
    width: 8px;
    background: #3a3b51;
}

body::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background: #595a6d;
}

body::-webkit-scrollbar-thumb:hover {
    background: #68687b;
}

.container {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.contentDrawing {
    margin: 20px;
    display: flex;
    padding: 12px;
    transition: 2s;
    border-radius: 5px;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.contentDrawing-Index {
    width: 380px;
    max-width: 380px;
    background-color: rgba(
        255, 255, 255, 0.8
    );
}

.contentDrawing-Manager {
    width: 1000px;
    max-width: 800px;
    color: #FFFFFF;
}

.header {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-Index {
    border-bottom: 2px solid #232121;
}

.header-Manager {
    border-bottom: 2px solid #FFFFFF;
}

.header__a {
    padding: 8px;
    transition: .2s;
    color: #FFFFFF;
    margin-left: 12px;
    border-radius: 5px;
    text-decoration: none;
    background: #385996;
}

.header__a:hover {
    cursor: pointer;
    background: #2A4F92;
}

.header__a:active {
    background: #0A337E;
}

.content {
    width: 90%;
    transition: .2s;
    box-sizing: border-box;
}

.content-Index {
    margin: 60px;
}

.content-Manager {
    margin: 20px;
}

.content__table {
    width: 100%;
    border-spacing: 0;
    border-radius: 2px;
    text-align: center;
    background: #FFFFFF;
    border-collapse: separate;
    border: 3px solid #595a6d;
}

.content__group {
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 28px;
    justify-content: space-between;
}

.content__input {
    width: 60%;
    padding: 6px;
    outline: none;
    color: #000000;
    min-width: 200px;
    border-radius: 6px;
    background: #FFFFFF;
    box-sizing: border-box;
    border: 1.6px solid #232121;
}

.content__input:focus {
    border: 1.6px solid #585655;
}

.input-textarea {
    resize: vertical;
    max-height: 400px;
}

.content__inputs, .content_checkbox {
    display: flex;
    margin-bottom: 28px;
    justify-content: space-between;
}

.content_checkbox {
    margin-top: 28px;
}

.content__options {
    width: 60%;
    display: flex;
    justify-content: left;
}

.content__option {
    margin-right: 25px;
}

.content__option:last-child {
    margin-right: 0;
}

.inputs__groups {
    width: 60%;
    display: flex;
    justify-content: space-between;
}

.input__group {
    width: 26%;
    padding: 6px;
    outline: none;
    color: #000000;
    min-width: 60px;
    border-radius: 6px;
    border: 1.6px solid #232121;
}

.input__group:focus {
    border: 1.6px solid #585655;
}

.content__select {
    width: 60%;
    padding: 6px;
    outline: none;
    color: #000000;
    min-width: 200px;
    background: #FFFFFF;
    border: 1.6px solid #232121;
}

.content__function {
    width: 100%;
    margin-bottom: 28px;
}

.content__button {
    width: 100%;
    padding: 8px;
    border: none;
    outline: none;
    font-size: 17px;
    color: #FFFFFF;
    transition: .2s;
    border-radius: 6px;
    background: #385996;
}

.content__button:hover {
    cursor: pointer;
    background: #2A4F92;
}

.content__button:active {
    background: #0A337E;
}

.content__message {
    transition: 1s;
    color: #FF0000;
    text-align: center;
}

.message-success {
    color: #257205;
}

.content__tr {
    color: #000000;
}

.tr_disabled {
    color: #D32929;
}

.content__th {
    padding: 8px;
    color: #000000;
    background: #B8B8C6;
}

.content__td {
    padding: 6px;
}

.content__a {
    padding: 8px;
    outline: none;
    font-size: 17px;
    color: #FFFFFF;
    transition: .2s;
    background: #637CAA;
}

.content__a:hover {
    cursor: pointer;
    background: #4F6792;
}

.footer__p {
    text-align: center;
}

.refresh {
    font-size: 14px;
    text-align: center;
}

@media screen and (max-width: 1100px) {

    .contentDrawing {
        width: 92%;
        padding: 0;
        margin: 10px;
    }

     .header {
        width: 100%;
        display: grid;
        text-align: center;
        grid-template-columns: 1fr;
    }

    .header__options {
        display: grid;
        grid-template-columns: 1fr;
    }

    .header__a {
        padding: 6px;
        margin-left: 0;
        margin-bottom: 4px;
    }

    .content-Index {
        width: 90%;
        margin: 20px;
    }

    .content-Manager {
        width: 100%;
    }

    .content__form {
        width: 100%;
    }

    .content__th, 
    .content__td {
        padding: 8px 6px;
        box-sizing: border-box;
    }

    .content__inputs {
        margin-bottom: 12px;
    }

    .content__input {
        width: 60%;
    }    
    
    .content__select {
        width: 60%;
    }

    .content__table thead {
        display: none;
    }

    .content__table, tbody, tr ,td {
        width: 100%;
        display: block;
    }

    .content__td {
        text-align: right;
        padding: 8px 6px;
        position: relative;
    }

    .content__td::before {
        left: 0;
        padding: 0 6px;
        text-align: left;
        font-weight: 600;
        position: absolute;
        content: attr(data-label);
    }

    .content__a {
        text-align: center;
    }
    
}